In [1]:
import os
import requests
import json
from dotenv import load_dotenv
import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd

In [2]:
#Location

In [3]:
where= "London,UK"

In [4]:
# Expected coordinates

In [5]:
london_longt=200,0.90,51.51753
london_latt= -0.11214

In [6]:
url_geocode = f"https://geocode.xyz/{where}?json=1"
res = requests.get(url_geocode).json()
res

{'standard': {'addresst': {},
  'statename': {},
  'city': 'London',
  'prov': 'UK',
  'countryname': 'United Kingdom',
  'postal': {},
  'confidence': '0.90'},
 'longt': '-0.11214',
 'alt': {'loc': {'longt': '-0.14159',
   'prov': 'UK',
   'city': 'London',
   'countryname': 'United Kingdom',
   'postal': 'SW1E5RS',
   'region': {},
   'latt': '51.49742'}},
 'elevation': {},
 'latt': '51.51753'}

In [7]:
london_long, london_lat = res["longt"], res["latt"]
print(london_long, london_lat)

-0.11214 51.51753

In [8]:
def get_all(output_get_query):
    
    "Get name, address, and geopoints from each city"

    new_list= []
    for i in output_get_query["results"]:
        name = i["name"]
        address =  i["location"]["formatted_address"]
        latt = i["geocodes"]["main"]["latitude"]
        longt = i["geocodes"]["main"]["longitude"]
        category= i["categories"][0]["name"]
        type_ = {"typepoint":
                                {"type": "Point",
                                "coordinates": [latt, longt]}}
        new_list.append({"name":name, "latt":lat, "longt":lon, "category": category, "type":type_})
    df = pd.DataFrame(new_list)
    return df

In [9]:
def get_coordinates (place):
    url_geocode = f"https://geocode.xyz/{where}?json=1"

    try:
        res = requests.get(url_geocode).json()
        return res["longt"], res["latt"]
    except:
        print(f"Sorry, no matches found for {place}")
        get_coordinates (place)

In [10]:
london = get_coordinates ("London,UK")
london

('-0.11214', '51.51753')

In [11]:
london_ = {'type': 'Point', 'coordinates': ['-0.11214', '51.51753']}

In [12]:
#TOKEN

In [13]:
load_dotenv()
client_id = os.getenv("CLIENT_ID")
client_secret = os.getenv("CLIENT_SECRET")

In [14]:
# Connect w/ Foursquare API
load_dotenv()

True

In [15]:
token_fsq = os.getenv("token")

In [16]:
query = "starbucks"

In [17]:
url = f"https://api.foursquare.com/v3/places/search?query={query}&limit=1"

headers = {
    "accept": "application/json",
    "Authorization": token_fsq
}

response = requests.get(url, headers=headers).json()

In [18]:
response

{'results': [{'fsq_id': '4b7e7cdaf964a5202cef2fe3',
   'categories': [{'id': 13035,
     'name': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'}}],
   'chains': [{'id': 'ab4c54c0-d68a-012e-5619-003048cad9da',
     'name': 'Starbucks'}],
   'distance': 510,
   'geocodes': {'main': {'latitude': 41.385204, 'longitude': 2.163273},
    'roof': {'latitude': 41.385204, 'longitude': 2.163273}},
   'link': '/v3/places/4b7e7cdaf964a5202cef2fe3',
   'location': {'address': 'Plaça Universitat, 2',
    'admin_region': 'Cataluña',
    'country': 'ES',
    'cross_street': 'C. Aribau',
    'formatted_address': 'Plaça Universitat, 2 (C. Aribau), 08007 Barcelona Catalonia',
    'locality': 'Barcelona',
    'neighborhood': ['Sant Antoni'],
    'postcode': '08007',
    'region': 'Catalonia'},
   'name': 'Starbucks',
   'related_places': {},
   'timezone': 'Europe/Madrid'}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 41.3887939453125,
     'longitude': 2.15899658203125},
    'radius': 22000}}}}

In [19]:
response.keys()

dict_keys(['results', 'context'])

In [20]:
# Trying a second time the website



query = "starbucks"
url = f"https://api.foursquare.com/v3/places/search?query={query}&ll=40.416775%2C-3.703790"

headers = {
    "accept": "application/json",
    "Authorization": token_fsq,
    "limit":"1"
}

response_2 = requests.get(url, headers=headers).json()

#response_2

In [21]:
# Check the region by accessing elements in the dictionary/list
response_2["results"][0]["location"]["admin_region"]

'Comunidad de Madrid'

In [22]:
# If it works -> Into a function

def get_results_from_foursquare (query, location, limit=1):
    
    # Doing the call for foursquare     
    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }
    
    response = requests.get(url, headers=headers).json()
    
    return response

In [23]:
# Calling the function
get_results_from_foursquare ("starbucks", london)

{'results': [{'fsq_id': '4b840247f964a520e91a31e3',
   'categories': [{'id': 13035,
     'name': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'}}],
   'chains': [{'id': 'ab4c54c0-d68a-012e-5619-003048cad9da',
     'name': 'Starbucks'}],
   'distance': 558,
   'geocodes': {'main': {'latitude': 51.513847, 'longitude': -0.117479},
    'roof': {'latitude': 51.513847, 'longitude': -0.117479}},
   'link': '/v3/places/4b840247f964a520e91a31e3',
   'location': {'address': '10 Kingsway',
    'address_extended': 'Unit B2',
    'admin_region': 'England',
    'country': 'GB',
    'cross_street': '',
    'formatted_address': '10 Kingsway, London, Greater London, WC2B 6LH',
    'locality': 'London',
    'neighborhood': ['Holborn'],
    'post_town': 'London',
    'postcode': 'WC2B 6LH',
    'region': 'Greater London'},
   'name': 'Starbucks',
   'related_places': {},
   'timezone': 'Europe/London'}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 51.51753,
     'longitude': -0.11214},
    'radius': 22000}}}}

In [24]:
response_function = get_results_from_foursquare ("starbucks", london)
#response_function

In [25]:
response_function["results"][0]

{'fsq_id': '4b840247f964a520e91a31e3',
 'categories': [{'id': 13035,
   'name': 'Coffee Shop',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
    'suffix': '.png'}}],
 'chains': [{'id': 'ab4c54c0-d68a-012e-5619-003048cad9da',
   'name': 'Starbucks'}],
 'distance': 558,
 'geocodes': {'main': {'latitude': 51.513847, 'longitude': -0.117479},
  'roof': {'latitude': 51.513847, 'longitude': -0.117479}},
 'link': '/v3/places/4b840247f964a520e91a31e3',
 'location': {'address': '10 Kingsway',
  'address_extended': 'Unit B2',
  'admin_region': 'England',
  'country': 'GB',
  'cross_street': '',
  'formatted_address': '10 Kingsway, London, Greater London, WC2B 6LH',
  'locality': 'London',
  'neighborhood': ['Holborn'],
  'post_town': 'London',
  'postcode': 'WC2B 6LH',
  'region': 'Greater London'},
 'name': 'Starbucks',
 'related_places': {},
 'timezone': 'Europe/London'}

In [26]:
# Do the same thing: limit=50

all_starbucks_london = get_results_from_foursquare ("starbucks",london, limit=50)

In [27]:
len(all_starbucks_london["results"])

50

In [28]:
latitude = response_function["results"][0]["geocodes"]["main"]["latitude"]
longitude = response_function["results"][0]["geocodes"]["main"]["longitude"]
address = response_function["results"][0]["location"]["address"]
name = response_function["results"][0]["name"]

In [29]:
# Now I know how to extract from the extracted info

new_list = []
for i in all_starbucks_london["results"]:
    
    name = i["name"]
    address =  i["location"]["formatted_address"]
    lat = i["geocodes"]["main"]["latitude"]
    lon = i["geocodes"]["main"]["longitude"]
        
    type_ = {"typepoint": 
                          {"type": "Point", 
                           "coordinates": [lat, lon]}}
    
    new_list.append({"name":name, "lat":lat, "lon":lon, "type":type_})
    
new_list[:1]

[{'name': 'Starbucks',
  'lat': 51.513847,
  'lon': -0.117479,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.513847, -0.117479]}}}]

In [30]:
# All the info is here
new_list[:2]

[{'name': 'Starbucks',
  'lat': 51.513847,
  'lon': -0.117479,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.513847, -0.117479]}}},
 {'name': 'Starbucks',
  'lat': 51.512252,
  'lon': -0.121563,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.512252, -0.121563]}}}]

In [31]:
# I save it into a DF
df = pd.DataFrame(new_list)

In [32]:
df.sample()

,name,lat,lon,type
12,Starbucks,51.516398,-0.103198,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [33]:
df.head()

,name,lat,lon,type
0,Starbucks,51.513847,-0.117479,"{'typepoint': {'type': 'Point', 'coordinates':..."
1,Starbucks,51.512252,-0.121563,"{'typepoint': {'type': 'Point', 'coordinates':..."
2,Starbucks,51.518227,-0.125714,"{'typepoint': {'type': 'Point', 'coordinates':..."
3,Starbucks,51.516327,-0.120001,"{'typepoint': {'type': 'Point', 'coordinates':..."
4,Starbucks,51.516663,-0.129139,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [34]:
gdf_1 = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df["lon"], df["lat"]))
gdf_1.head()

/Users/queraltiglesias/opt/anaconda3/envs/ironhack/lib/python3.10/site-packages/geopandas/array.py:275: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return GeometryArray(vectorized.points_from_xy(x, y, z), crs=crs)

,name,lat,lon,type,geometry
0,Starbucks,51.513847,-0.117479,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11748 51.51385)
1,Starbucks,51.512252,-0.121563,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12156 51.51225)
2,Starbucks,51.518227,-0.125714,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12571 51.51823)
3,Starbucks,51.516327,-0.120001,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12000 51.51633)
4,Starbucks,51.516663,-0.129139,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12914 51.51666)

In [35]:
Map(Layer(gdf_1, "color:purple", popup_hover=[popup_element("name", "starbucks")]))

TypeError: Location should be a sized variable, for example a list or a tuple, instead got <cartoframes.viz.layer.Layer object at 0x7fcb65de1840> of type <class 'cartoframes.viz.layer.Layer'>.

In [36]:
query = "park"
url = f"https://api.foursquare.com/v3/places/search?query={query}&ll=40.416775%2C-3.703790"

headers = {
    "accept": "application/json",
    "Authorization": token_fsq,
    "limit":"1"
}

response_2 = requests.get(url, headers=headers).json()

#response_2

In [37]:
def get_results_from_foursquare (query, location, limit=1):
    
    # Doing the call for foursquare     
    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }
    
    response = requests.get(url, headers=headers).json()
    
    return response

In [ ]:
# Calling the function
get_results_from_foursquare ("park", london)

In [39]:
all_parks_london = get_results_from_foursquare ("park",london, limit=50)

In [40]:
new_list1 = []
for i in all_parks_london["results"]:
    
    name = i["name"]
    address =  i["location"]["formatted_address"]
    lat = i["geocodes"]["main"]["latitude"]
    lon = i["geocodes"]["main"]["longitude"]
        
    type_ = {"typepoint": 
                          {"type": "Point", 
                           "coordinates": [lat, lon]}}
    
    new_list1.append({"name":name, "lat":lat, "lon":lon, "type":type_})
    
new_list1[:1]

[{'name': "Regent's Park",
  'lat': 51.528579,
  'lon': -0.151025,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.528579, -0.151025]}}}]

In [41]:
# All the info is here
new_list1[:2]

[{'name': "Regent's Park",
  'lat': 51.528579,
  'lon': -0.151025,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.528579, -0.151025]}}},
 {'name': 'Haggerston Park',
  'lat': 51.531137,
  'lon': -0.069496,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.531137, -0.069496]}}}]

In [42]:
# I save it into a DF
df1 = pd.DataFrame(new_list1)

In [43]:
df1.head()

,name,lat,lon,type
0,Regent's Park,51.528579,-0.151025,"{'typepoint': {'type': 'Point', 'coordinates':..."
1,Haggerston Park,51.531137,-0.069496,"{'typepoint': {'type': 'Point', 'coordinates':..."
2,Lincoln's Inn Fields,51.516214,-0.116589,"{'typepoint': {'type': 'Point', 'coordinates':..."
3,Mount Street Gardens,51.509151,-0.150006,"{'typepoint': {'type': 'Point', 'coordinates':..."
4,Hyde Park,51.507188,-0.163731,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [ ]:
gdf_2 = gpd.GeoDataFrame(df1, geometry=gpd.points_from_xy(df["lon"], df["lat"]))
gdf_2.head()

In [ ]:
Map(Layer(gdf_2, "color:purple", popup_hover=[popup_element("name", "park")]))

In [ ]:
query = "airport"
url = f"https://api.foursquare.com/v3/places/search?query={query}&ll=40.416775%2C-3.703790"

headers = {
    "accept": "application/json",
    "Authorization": token_fsq,
    "limit":"1"
}

response_2 = requests.get(url, headers=headers).json()

#response_2

In [ ]:
def get_results_from_foursquare (query, location, limit=1):
    
    # Doing the call for foursquare     
    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }
    
    response = requests.get(url, headers=headers).json()
    
    return response

In [ ]:
# Calling the function
get_results_from_foursquare ("airport", london)

In [48]:
all_airports_london = get_results_from_foursquare ("aiport",london, limit=50)

new_list2 = []
for i in all_airports_london["results"]:
    
    name = i["name"]
    address =  i["location"]["formatted_address"]
    lat = i["geocodes"]["main"]["latitude"]
    lon = i["geocodes"]["main"]["longitude"]
        
    type_ = {"typepoint": 
                          {"type": "Point", 
                           "coordinates": [lat, lon]}}
    
    new_list2.append({"name":name, "lat":lat, "lon":lon, "type":type_})
    
new_list2[:1]

[{'name': 'London Heathrow Airport (LHR)',
  'lat': 51.470012,
  'lon': -0.454478,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.470012, -0.454478]}}}]

In [49]:
# All the info is here
new_list2[:2]

[{'name': 'London Heathrow Airport (LHR)',
  'lat': 51.470012,
  'lon': -0.454478,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.470012, -0.454478]}}},
 {'name': 'London City Airport (LCY)',
  'lat': 51.503297,
  'lon': 0.050112,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.503297, 0.050112]}}}]

In [50]:
df2 = pd.DataFrame(new_list2)

df2.head()

,name,lat,lon,type
0,London Heathrow Airport (LHR),51.470012,-0.454478,"{'typepoint': {'type': 'Point', 'coordinates':..."
1,London City Airport (LCY),51.503297,0.050112,"{'typepoint': {'type': 'Point', 'coordinates':..."
2,Elstree Aerodrome,51.654044,-0.323953,"{'typepoint': {'type': 'Point', 'coordinates':..."
3,Kenley Aerodrome,51.302516,-0.099422,"{'typepoint': {'type': 'Point', 'coordinates':..."
4,Biggin Hill Airport (BQH),51.331889,0.028996,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [ ]:
gdf_3 = gpd.GeoDataFrame(df2, geometry=gpd.points_from_xy(df["lon"], df["lat"]))
gdf_3.head()

Map(Layer(gdf_3, "color:purple", popup_hover=[popup_element("name", "park")]))

In [ ]:
query = "clubs"
url = f"https://api.foursquare.com/v3/places/search?query={query}&ll=40.416775%2C-3.703790"

headers = {
    "accept": "application/json",
    "Authorization": token_fsq,
    "limit":"1"
}

response_2 = requests.get(url, headers=headers).json()

#response_2

In [ ]:
def get_results_from_foursquare (query, location, limit=1):
    
    # Doing the call for foursquare     
    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }
    
    response = requests.get(url, headers=headers).json()
    
    return response

In [ ]:
# Calling the function
get_results_from_foursquare ("Night clubs", london)

In [54]:
all_nightclubs_london = get_results_from_foursquare ("nightclubs",london, limit=50)

new_list3 = []
for i in all_nightclubs_london["results"]:
    
    name = i["name"]
    address =  i["location"]["formatted_address"]
    lat = i["geocodes"]["main"]["latitude"]
    lon = i["geocodes"]["main"]["longitude"]
        
    type_ = {"typepoint": 
                          {"type": "Point", 
                           "coordinates": [lat, lon]}}
    
    new_list3.append({"name":name, "lat":lat, "lon":lon, "type":type_})
    
new_list3[:1]

[{'name': 'Tramp',
  'lat': 51.508255,
  'lon': -0.13782,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.508255, -0.13782]}}}]

In [52]:
# All the info is here

new_list3[:2]

NameError: name 'new_list3' is not defined

In [55]:
df3 = pd.DataFrame(new_list3)

df3.head()

,name,lat,lon,type
0,Tramp,51.508255,-0.137820,"{'typepoint': {'type': 'Point', 'coordinates':..."
1,Cirque le Soir,51.512910,-0.138930,"{'typepoint': {'type': 'Point', 'coordinates':..."
2,Ministry of Sound,51.497637,-0.099503,"{'typepoint': {'type': 'Point', 'coordinates':..."
3,Maddox Club,51.512702,-0.142262,"{'typepoint': {'type': 'Point', 'coordinates':..."
4,Phonox,51.464317,-0.114536,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [ ]:
gdf_4 = gpd.GeoDataFrame(df3, geometry=gpd.points_from_xy(df["lon"], df["lat"]))
gdf_4.head()

Map(Layer(gdf_4, "color:purple", popup_hover=[popup_element("name", "night clubs")]))

In [ ]:
query = "vegan restaurants"
url = f"https://api.foursquare.com/v3/places/search?query={query}&ll=40.416775%2C-3.703790"

headers = {
    "accept": "application/json",
    "Authorization": token_fsq,
    "limit":"1"
}

response_2 = requests.get(url, headers=headers).json()

#response_2

In [ ]:
def get_results_from_foursquare (query, location, limit=1):
    
    # Doing the call for foursquare     
    ll = f"{location[1]}%2C{location[0]}"
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={ll}&limit={str(limit)}"

    headers = {
        "accept": "application/json",
        "Authorization": token_fsq,
    }
    
    response = requests.get(url, headers=headers).json()
    
    return response

In [ ]:
# Calling the function
get_results_from_foursquare ("vegan restaurants", london)

In [56]:
all_vegan_london = get_results_from_foursquare ("vegan restaurants",london, limit=50)

new_list4 = []
for i in all_vegan_london["results"]:
    
    name = i["name"]
    address =  i["location"]["formatted_address"]
    lat = i["geocodes"]["main"]["latitude"]
    lon = i["geocodes"]["main"]["longitude"]
        
    type_ = {"typepoint": 
                          {"type": "Point", 
                           "coordinates": [lat, lon]}}
    
    new_list4.append({"name":name, "lat":lat, "lon":lon, "type":type_})
    
new_list4[:1]

[{'name': 'Mildreds',
  'lat': 51.513024,
  'lon': -0.136479,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.513024, -0.136479]}}}]

In [57]:
# All the info is here
new_list4[:2]

[{'name': 'Mildreds',
  'lat': 51.513024,
  'lon': -0.136479,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.513024, -0.136479]}}},
 {'name': 'Black Cat',
  'lat': 51.551292,
  'lon': -0.05547,
  'type': {'typepoint': {'type': 'Point',
    'coordinates': [51.551292, -0.05547]}}}]

In [58]:
df4 = pd.DataFrame(new_list4)

df4.head()

,name,lat,lon,type
0,Mildreds,51.513024,-0.136479,"{'typepoint': {'type': 'Point', 'coordinates':..."
1,Black Cat,51.551292,-0.055470,"{'typepoint': {'type': 'Point', 'coordinates':..."
2,What the Pitta,51.523478,-0.076177,"{'typepoint': {'type': 'Point', 'coordinates':..."
3,Mildreds,51.531369,-0.117538,"{'typepoint': {'type': 'Point', 'coordinates':..."
4,222 Veggie Vegan,51.486001,-0.203059,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [ ]:
gdf_5 = gpd.GeoDataFrame(df4, geometry=gpd.points_from_xy(df["lon"], df["lat"]))
gdf_5.head()

Map(Layer(gdf_5, "color:purple", popup_hover=[popup_element("name", "vegan restaurants")]))

In [75]:
pd.concat([df, df1, df2, df3, df4], axis=1)

,name,lat,lon,type,geometry,name,lat,lon,type,name,...,lon,type,name,lat,lon,type,name,lat,lon,type
0,Starbucks,51.513847,-0.117479,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11748 51.51385),Regent's Park,51.528579,-0.151025,"{'typepoint': {'type': 'Point', 'coordinates':...",London Heathrow Airport (LHR),...,-0.454478,"{'typepoint': {'type': 'Point', 'coordinates':...",Tramp,51.508255,-0.137820,"{'typepoint': {'type': 'Point', 'coordinates':...",Mildreds,51.513024,-0.136479,"{'typepoint': {'type': 'Point', 'coordinates':..."
1,Starbucks,51.512252,-0.121563,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12156 51.51225),Haggerston Park,51.531137,-0.069496,"{'typepoint': {'type': 'Point', 'coordinates':...",London City Airport (LCY),...,0.050112,"{'typepoint': {'type': 'Point', 'coordinates':...",Cirque le Soir,51.512910,-0.138930,"{'typepoint': {'type': 'Point', 'coordinates':...",Black Cat,51.551292,-0.055470,"{'typepoint': {'type': 'Point', 'coordinates':..."
2,Starbucks,51.518227,-0.125714,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12571 51.51823),Lincoln's Inn Fields,51.516214,-0.116589,"{'typepoint': {'type': 'Point', 'coordinates':...",Elstree Aerodrome,...,-0.323953,"{'typepoint': {'type': 'Point', 'coordinates':...",Ministry of Sound,51.497637,-0.099503,"{'typepoint': {'type': 'Point', 'coordinates':...",What the Pitta,51.523478,-0.076177,"{'typepoint': {'type': 'Point', 'coordinates':..."
3,Starbucks,51.516327,-0.120001,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12000 51.51633),Mount Street Gardens,51.509151,-0.150006,"{'typepoint': {'type': 'Point', 'coordinates':...",Kenley Aerodrome,...,-0.099422,"{'typepoint': {'type': 'Point', 'coordinates':...",Maddox Club,51.512702,-0.142262,"{'typepoint': {'type': 'Point', 'coordinates':...",Mildreds,51.531369,-0.117538,"{'typepoint': {'type': 'Point', 'coordinates':..."
4,Starbucks,51.516663,-0.129139,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12914 51.51666),Hyde Park,51.507188,-0.163731,"{'typepoint': {'type': 'Point', 'coordinates':...",Biggin Hill Airport (BQH),...,0.028996,"{'typepoint': {'type': 'Point', 'coordinates':...",Phonox,51.464317,-0.114536,"{'typepoint': {'type': 'Point', 'coordinates':...",222 Veggie Vegan,51.486001,-0.203059,"{'typepoint': {'type': 'Point', 'coordinates':..."
5,Starbucks,51.525354,-0.128342,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12834 51.52535),Victoria Tower Gardens,51.496993,-0.125161,"{'typepoint': {'type': 'Point', 'coordinates':...",Stapleford Flight Centre,...,0.155572,"{'typepoint': {'type': 'Point', 'coordinates':...",Electrowerkz,51.532262,-0.105177,"{'typepoint': {'type': 'Point', 'coordinates':...",Mildreds,51.545444,-0.074703,"{'typepoint': {'type': 'Point', 'coordinates':..."
6,Starbucks,51.502096,-0.117757,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11776 51.50210),Grosvenor Square,51.511580,-0.151277,"{'typepoint': {'type': 'Point', 'coordinates':...",London Airport Direct,...,-0.174181,"{'typepoint': {'type': 'Point', 'coordinates':...",Fabric,51.519620,-0.102520,"{'typepoint': {'type': 'Point', 'coordinates':...",Farmacy,51.515491,-0.192777,"{'typepoint': {'type': 'Point', 'coordinates':..."
7,Starbucks,51.510415,-0.139072,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13907 51.51042),Primrose Hill Jazz,51.541744,-0.163384,"{'typepoint': {'type': 'Point', 'coordinates':...",Stapleford Airfield,...,0.154371,"{'typepoint': {'type': 'Point', 'coordinates':...",Fold,51.519379,0.003826,"{'typepoint': {'type': 'Point', 'coordinates':...",The Gate Hammersmith,51.490254,-0.225387,"{'typepoint': {'type': 'Point', 'coordinates':..."
8,Starbucks,51.515250,-0.135126,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13513 51.51525),Soho Square,51.515167,-0.132246,"{'typepoint': {'type': 'Point', 'coordinates':...",Virgin Atlantic Clubhouse,...,-0.458551,"{'typepoint': {'type': 'Point', 'coordinates':...",The Social,51.517359,-0.140988,"{'typepoint': {'type': 'Point', 'coordinates':...",Mildreds Camden,51.540535,-0.145131,"{'typepoint': {'type': 'Point', 'coordinates':..."
9,Starbucks,51.515100,-0.130180,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13018 51.51510),Kensington Gardens,51.506757,-0.180490,"{'typepoint': {'type': 'Point', 'coordinates':...",The Emirates Lounge,...,-0.458036,"{'typepoint': {'type': 'Point', 'coordinates':...",Electric Brixton,51.460042,-0.116857,"{'typepoint': {'type': 'Point', 'coordinates':...",The Gallery Cafe,51.529878,-0.054419,"{'typepoint': {'type': 'Point', 'coordinates':..."
10,Starbucks,51.507373,-0.122973,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12297 51.50737),Clissold Park,51.561438,-0.088457,"{'typepoint': {'type': 'Point', 'coordinates':...",United Club,...,-0.442877,"{'typepoint': {'type': 'Point', 'coordinates':...",Tape London,51.514326,-0.144572,"{'typepoint': {'type': 'Point', 'coordinates':...",The Full Nelson,51.474581,-0.025411,"{'typepoint': {'type': 'Point', 'coordinates':..."
11,Starbucks,51.516025,-0.144089,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.14409 51.51602),Highbury Fields,51.552720,-0.101242,"{'typepoint': {'type': 'Point', 'coordinates':...",Qatar Airways Premium Lounge,...,-0.446287,"{'typepoint': {'type': 'Point', 'coordinates':...",The Steelyard,51.510136,-0.090236,"{'typepoint': {'type': 'Point', 'coordinates':...",Buhler and Co,51.590583,-0.017089,"{'typepoint': {'type': 'Point', 'coordinates':..."
12,Starbucks,51.516398,-0.103198,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.10320 51.51640),Jubilee Gardens,51.503808,-0.118181,"{'typepoint': {'type': 'Point', 'coordinates':...",Virgin Upper Class Wing,...,-0.457133,"{'typepoint': {'type': 'Point', 'coordinates':...",Nambucca,51.560990,-0.123703,"{'typepoint': {'type': 'Point', 'coordinates':...",The Waiting Room,51.479049,-0.025892,"{'typepoint': {'type': 'Point', 'coordinates':..."
13,Starbucks,51.512688,-0.133203,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13320 51.51269),Waterlow Park,51.568454,-0.144830,"{'typepoint': {'type': 'Point', 'coordinates':...",Cathay Pacific First Class Lounge,...,-0.459227,"{'typepoint': {'type': 'Point', 'coordinates':...",The Cause,51.589309,-0.062155,"{'typepoint': {'type': 'Point', 'coordinates':...",Ugly Dumpling,51.513304,-0.138599,"{'typepoint': {'type': 'Point', 'coordinates':..."
14,Starbucks,51.507386,-0.142561,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.14256 51.50739),Hampstead Heath,51.564449,-0.167162,"{'typepoint': {'type': 'Point', 'coordinates':...",Departure Lounge,...,-0.487736,"{'typepoint': {'type': 'Point', 'coordinates':...",Bloc.,51.535170,-0.019959,"{'typepoint': {'type': 'Point', 'coordinates':...",Kin,51.519328,-0.140525,"{'typepoint': {'type': 'Point', 'coordinates':..."
15,Starbucks,51.514762,-0.098791,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.09879 51.51476),Holland Park,51.503080,-0.203547,"{'typepoint': {'type': 'Point', 'coordinates':...",Lufthansa Senator Lounge,...,-0.449431,"{'typepoint': {'type': 'Point', 'coordinates':...",Horsemeat Disco,51.486281,-0.119312,"{'typepoint': {'type': 'Point', 'coordinates':...",Rasa South Indian Vegetarian Restaurant,51.561909,-0.076396,"{'typepoint': {'type': 'Point', 'coordinates':..."
16,Starbucks,51.506477,-0.100169,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.10017 51.50648),Clapham Common,51.457991,-0.149297,"{'typepoint': {'type': 'Point', 'coordinates':...",British Airways the First Wing,...,-0.488306,"{'typepoint': {'type': 'Point', 'coordinates':...",The Cuckoo Club,51.509960,-0.137827,"{'typepoint': {'type': 'Point', 'coordinates':...",The Spread Eagle,51.548610,-0.040705,"{'typepoint': {'type': 'Point', 'coordinates':..."
17,Starbucks,51.514658,-0.150231,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.15023 51.51466),Golders Hill Park Zoo,51.568712,-0.190703,"{'typepoint': {'type': 'Point', 'coordinates':...",Plaza Premium Departure Lounge,...,-0.449804,"{'typepoint': {'type': 'Point', 'coordinates':...",Mick's Garage,51.543134,-0.023160,"{'typepoint': {'type': 'Point', 'coordinates':...",Drury 188-189,51.516038,-0.123932,"{'typepoint': {'type': 'Point', 'coordinates':..."
18,Starbucks,51.504041,-0.075553,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.07555 51.50404),"Brockwell Park, Dulwich Road, London",51.451144,-0.104515,"{'typepoint': {'type': 'Point', 'coordinates':...",Virgin Atlantic Revivals Lounge,...,-0.457777,"{'typepoint': {'type': 'Point', 'coordinates':...",Club Room Service,51.514295,-0.131219,"{'typepoint': {'type': 'Point', 'coordinates':...",Dishoom,51.512441,-0.126851,"{'typepoint': {'type': 'Point', 'coordinates':..."
19,Starbucks,51.514974,-0.137584,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13758 51.51497),"Hackney Downs, Downs Park Rd, London",51.554149,-0.061608,"{'typepoint': {'type': 'Point', 'coordinates':...",Lufthansa Business Lounge,...,-0.449209,"{'typepoint': {'type': 'Point', 'coordinates':...",Drama,51.505525,-0.150010,"{'typepoint': {'type': 'Point', 'coordinates':...",Dishoom,51.524590,-0.076690,"{'typepoint': {'type': 'Point', 'coordinates':..."
20,Starbucks,51.508664,-0.144165,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.14416 51.50866),"Queens Park , London",51.534080,-0.204860,"{'typepoint': {'type': 'Point', 'coordinates':...",Qantas Lounge,...,-0.459797,"{'typepoint': {'type': 'Point', 'coordinates':...",Xoyo,51.525468,-0.085864,"{'typepoint': {'type': 'Point', 'coordinates':...",Carpo Piccadilly,51.509652,-0.135689,"{'typepoint': {'type': 'Point', 'coordinates':..."
21,Starbucks,51.514762,-0.126736,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12674 51.51476),Springfield Park,51.568581,-0.056837,"{'typepoint': {'type': 'Point', 'coordinates':...",No.1 Traveller Lounge,...,-0.459797,"{'typepoint': {'type': 'Point', 'coordinates':...",La Pollera Colora,51.505337,-0.088502,"{'typepoint': {'type': 'Point', 'coordinates':...",Look Mum No Hands,51.523983,-0.097026,"{'typepoint': {'type': 'Point', 'coordinates':..."
22,Starbucks,51.523856,-0.123299,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12330 51.52386),Peckham Rye Park Ranger Team,51.458694,-0.062886,"{'typepoint': {'type': 'Point', 'coordinates':...",Gulf Air Lounge,...,-0.449497,"{'typepoint': {'type': 'Point', 'coordinates':...",Dstrkt VIP area,51.510571,-0.132201,"{'typepoint': {'type': 'Point', 'coordinates':...",La Gelatiera,51.511204,-0.126687,"{'typepoint': {'type': 'Point', 'coordinates':..."
23,Starbucks,51.503770,-0.110788,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.11079 51.50377),Greenwich Park,51.476981,0.001207,"{'typepoint': {'type': 'Point', 'coordinates':...",The Windsor Suite,...,-0.489001,"{'typepoint': {'type': 'Point', 'coordinates':...",The Mayfair Club,51.507592,-0.141611,"{'typepoint': {'type': 'Point', 'coordinates':...",Catalyst Coffee Roasters + Cafe,51.519623,-0.111860,"{'typepoint': {'type': 'Point', 'coordinates':..."
24,Starbucks,51.512658,-0.088076,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.08808 51.51266),Alexandra Park,51.593787,-0.127660,"{'typepoint': {'type': 'Point', 'coordinates':...",BA Concorde Room,...,-0.486831,"{'typepoint': {'type': 'Point', 'coordinates':...",Egg,51.541837,-0.125095,"{'typepoint': {'type': 'Point', 'coordinates':...",The Monocle Shop London,51.518733,-0.154534,"{'typepoint': {'type': 'Point', 'coordinates':..."
25,Starbucks,51.520270,-0.103682,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.10368 51.52027),Burgess Park,51.482427,-0.085596,"{'typepoint': {'type': 'Point', 'coordinates':...",Cathay Pacific Lounge,...,-0.459176,"{'typepoint': {'type': 'Point', 'coordinates':...",The Waiting Room,51.562132,-0.073877,"{'typepoint': {'type': 'Point', 'coordinates':...",The Grocery,51.528855,-0.078031,"{'typepoint': {'type': 'Point', 'coordinates':..."
26,Starbucks,51.530942,-0.122104,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.12210 51.53094),Telegraph Hill Park,51.466793,-0.046709,"{'typepoint': {'type': 'Point', 'coordinates':...",BA Galleries First Class Lounge,...,-0.487139,"{'typepoint': {'type': 'Point', 'coordinates':...",Club De Fromage,51.418897,-0.302103,"{'typepoint': {'type': 'Point', 'coordinates':...",Prufrock Coffee,51.520001,-0.109524,"{'typepoint': {'type': 'Point', 'coordinates':..."
27,Starbucks,51.517657,-0.142731,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.14273 51.51766),Ruskin Park,51.466998,-0.090493,"{'typepoint': {'type': 'Point', 'coordinates':...",Plaza Premium Lounge Terminal 4 Heathrow,...,-0.448741,"{'typepoint': {'type': 'Point', 'coordinates':...",Electric Ballroom,51.539719,-0.142878,"{'typepoint': {'type': 'Point', 'coordinates':...",L'ETO Caffè,51.496704,-0.168643,"{'typepoint': {'type': 'Point', 'coordinates':..."
28,Starbucks,51.520676,-0.134759,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13476 51.52068),Dulwich Park,51.445449,-0.079076,"{'typepoint': {'type': 'Point', 'coordinates':...",Maple Leaf Lounge,...,-0.443279,"{'typepoint': {'type': 'Point', 'coordinates':...",Beat,51.516665,-0.141960,"{'typepoint': {'type': 'Point', 'coordinates':...",L'Eto Caffè,51.514292,-0.134793,"{'typepoint': {'type': 'Point', 'coordinates':..."
29,Starbucks,51.521461,-0.143533,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.14353 51.52146),Southwark Park,51.494922,-0.056121,"{'typepoint': {'type': 'Point', 'coordinates':...",RAF Northolt (NHT),...,-0.414466,"{'typepoint': {'type': 'Point', 'coordinates':...",Mangle E8,51.538808,-0.057600,"{'typepoint': {'type': 'Point', 'coordinates':...",Daisy Green Food,51.515006,-0.157897,"{'typepoint': {'type': 'Point', 'coordinates':..."
30,Starbucks,51.522259,-0.135629,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13563 51.52226),Parsons Green,51.475329,-0.200921,"{'typepoint': {'type': 'Point', 'coordinates':...",BA Galleries Club Lounge B Gates,...,-0.481261,"{'typepoint': {'type': 'Point', 'coordinates':...",Fire,51.484565,-0.123650,"{'typepoint': {'type': 'Point', 'coordinates':...",Udderlicious,51.513558,-0.127271,"{'typepoint': {'type': 'Point', 'coordinates':..."
31,Starbucks,51.508230,-0.102032,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.10203 51.50823),Bishop's Park,51.471393,-0.216669,"{'typepoint': {'type': 'Point', 'coordinates':...",Runway 09R / 27L,...,-0.471485,"{'typepoint': {'type': 'Point', 'coordinates':...",Tiger Tiger,51.509847,-0.132640,"{'typepoint': {'type': 'Point', 'coordinates':...",Maloko,51.473574,-0.088692,"{'typepoint': {'type': 'Point', 'coordinates':..."
32,Starbucks,51.512525,-0.103906,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.10391 51.51252),Finsbury Park,51.574694,-0.103071,"{'typepoint': {'type': 'Point', 'coordinates':...",South Security T5,...,-0.486846,"{'typepoint': {'type': 'Point', 'coordinates':...",The Edition Basement,51.516859,-0.136366,"{'typepoint': {'type': 'Point', 'coordinates':...",The Grand Howl,51.544236,-0.046580,"{'typepoint': {'type': 'Point', 'coordinates':..."
33,Starbucks,51.514669,-0.096100,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.09610 51.51467),Hackney Marshes,51.552969,-0.025584,"{'typepoint': {'type': 'Point', 'coordinates':...",BA Galleries Club Lounge North,...,-0.487709,"{'typepoint': {'type': 'Point', 'coordinates':...",Maggie's,51.486209,-0.180137,"{'typepoint': {'type': 'Point', 'coordinates':...",Pilpel,51.515040,-0.098622,"{'typepoint': {'type': 'Point', 'coordinates':..."
34,Starbucks,51.508576,-0.079207,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.07921 51.50858),Wandsworth Common,51.448743,-0.167620,"{'typepoint': {'type': 'Point', 'coordinates':...",British Airways Arrivals Lounge,...,-0.489179,"{'typepoint': {'type': 'Point', 'coordinates':...",Mahiki,51.507717,-0.141261,"{'typepoint': {'type': 'Point', 'coordinates':...",Veeraswamy,51.509881,-0.137748,"{'typepoint': {'type': 'Point', 'coordinates':..."
35,Starbucks,51.521700,-0.157037,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.15704 51.52170),Russia Dock Woodland,51.500611,-0.038103,"{'typepoint': {'type': 'Point', 'coordinates':...",Terminal 2B,...,-0.443213,"{'typepoint': {'type': 'Point', 'coordinates':...",Popworld Watling Street,51.513057,-0.094700,"{'typepoint': {'type': 'Point', 'coordinates':...",Exmouth Coffee Company,51.515959,-0.070316,"{'typepoint': {'type': 'Point', 'coordinates':..."
36,Starbucks,51.512456,-0.090122,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.09012 51.51246),Ravenscourt Park,51.497454,-0.239158,"{'typepoint': {'type': 'Point', 'coordinates':...",Signature Flight Support,...,0.030662,"{'typepoint': {'type': 'Point', 'coordinates':...",151 Club,51.487840,-0.167246,"{'typepoint': {'type': 'Point', 'coordinates':...","Granger & Co., Kings Cross",51.532673,-0.125632,"{'typepoint': {'type': 'Point', 'coordinates':..."
37,Starbucks,51.507964,-0.096059,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.09606 51.50796),Manor House Gardens,51.455899,0.006192,"{'typepoint': {'type': 'Point', 'coordinates':...",Terminal 2 - the Queen's Terminal,...,-0.450088,"{'typepoint': {'type': 'Point', 'coordinates':...",Studio 9294,51.544027,-0.022523,"{'typepoint': {'type': 'Point', 'coordinates':...",Whole Foods Market,51.510555,-0.136057,"{'typepoint': {'type': 'Point', 'coordinates':..."
38,Starbucks,51.498155,-0.132786,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13279 51.49815),Stepney Green Park,51.517028,-0.052817,"{'typepoint': {'type': 'Point', 'coordinates':...",Perfect Aviation UK,...,0.032830,"{'typepoint': {'type': 'Point', 'coordinates':...",Mimi's,51.517351,-0.135315,"{'typepoint': {'type': 'Point', 'coordinates':...",Ole & Steen,51.509304,-0.132696,"{'typepoint': {'type': 'Point', 'coordinates':..."
39,Starbucks,51.499068,-0.135253,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.13525 51.49907),Wimbledon Park Station,51.434515,-0.199561,"{'typepoint': {'type': 'Point', 'coordinates':...",Terminal 4,...,-0.447085,"{'typepoint': {'type': 'Point', 'coordinates':...",Salsa on Sundays,51.523395,-0.127427,"{'typepoint': {'type': 'Point', 'coordinates':...",Ms. Cupcake,51.461788,-0.113052,"{'typepoint': {'type': 'Point', 'coordinates':..."
40,Starbucks,51.511469,-0.075064,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.07506 51.51147),Blackheath Common,51.460352,0.019695,"{'typepoint': {'type': 'Point', 'coordinates':...",Jet Aviation,...,0.032267,"{'typepoint': {'type': 'Point', 'coordinates':...",Raffles,51.485323,-0.173625,"{'typepoint': {'type': 'Point', 'coordinates':...",Pavilion Cafe,51.533432,-0.042818,"{'typepoint': {'type': 'Point', 'coordinates':..."
41,Starbucks,51.499850,-0.104290,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.10429 51.49985),Crystal Palace Park,51.425098,-0.075623,"{'typepoint': {'type': 'Point', 'coordinates':...",Arrivals Hall,...,-0.445964,"{'typepoint': {'type': 'Point', 'coordinates':...",Zebrano Bars,51.513981,-0.130677,"{'typepoint': {'type': 'Point', 'coordinates':...",Ozone Coffee Roasters,51.524719,-0.086869,"{'typepoint': {'type': 'Point', 'coordinates':..."
42,Starbucks,51.517585,-0.080864,"{'typepoint': {'type': 'Point', 'coordinates':...",POINT (-0.08086 51.51758),Kennington Park,51.482819,-0.107596,"{'typepoint': {'type': 'Point', 'coordinates':...",Check-in Hall - T3,...,-0.457202,"{'typepoint': {'type': 'Point', 'coordinates':...",Libertine,51.516022,-0.138321,"{'typepoint': {'type': 'Point', 'coordinates':...",Brunswick East,51.549194,-0.076632,"{'typepoint': {'type': 'Point', 'coordinates':..."

In [79]:
london_map = Map(location = [ 51.51753 ,-0.11214], zoom_start = 13)
london_map